node_modules
*.bat
logs/*.log
.env.local
.env
.env.example
.nginx.conf
dist/*
env.example
ingestion/sage_documentation
*.json
frontend/*.json
frontend/Attributions.md
nginx.conf
tailwind.config.js
vite-env.d.ts
vite.config.ts
restart-servers.bat
start-servers.bat
stop-servers.bat